@{
    ViewBag.Title = "Developer";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="jumbotron">
    <h1>&nbsp;Juan Carlos Neíl Palacios Escobar</h1>
    <div>
        <p>
            Soy una persona autodidacta a la que le gusta seguir aprendiendo nuevas tecnologías y no abandonar el camino del conocimiento.
            <br />
            Me interesa la tecnología y la innovación, me gusta el desarrollo de software y aplicaciones web.
        </p>
    </div>
    <div>
        <center>
            <a href="https://github.com/JuanK003?tab=repositories">
                <img style="width:50px;" src=" https://cdn-icons-png.flaticon.com/512/1051/1051326.png?w=826&t=st=1661987059~exp=1661987659~hmac=724e6690ee2ae56b530899d95cef178e48ec9a2f189c7f472eb8538a2291f177" />
            </a>
            <a href="https://www.linkedin.com/in/juan-carlos-palacios-9ba8311b7/">
                <img style="width:50px;" src="https://cdn-icons-png.flaticon.com/512/61/61109.png" />
            </a>
            <a href="https://twitter.com/Juank_10_2003">
                <img style="width:50px;" src="https://cdn.icon-icons.com/icons2/1129/PNG/512/twitterlogoincircularblackbutton_79784.png" />
            </a>
            <a href="https://www.instagram.com/juank_003/">
                <img style="width:50px;" src="https://cdn-icons-png.flaticon.com/512/5968/5968982.png" />
            </a>
            <a href="https://www.facebook.com/profile.php?id=100004522368573">
                <img style="width:50px;" src="https://www.unipile.com/wp-content/uploads/2022/06/logo-facebook-noir.png" />
            </a>
        </center>
    </div>
</div>

<div class="row">
</div>