@{
    ViewBag.Title = "Inicio";
}
<br />
<br />
<br />
<br />
<br />
<br />


<div class="jumbotron">

    <h1 class="text-center">Hogar Dulce Corazón</h1>
    <br />
    <div>
        <center>
            <img src="https://cdn-icons-png.flaticon.com/512/4605/4605263.png" class="img-responsive" style="width:300px;">
        </center>
    </div>
    <div class="text-center">
        <p class="lead">
            <span lang="ES-GT">
                <br />
                El hogar “Dulce corazón” se dedica abrigar a niños que son abandonados en la calle
                <br />
                niños entre las edades de 5 a 10 años, ellos envían a los niños a hogares temporales.
            </span>
        </p>
    </div>
</div>
